# Data Engineering: Graded Lab 01
---------------

#### Grading
For this graded lab you can get a total of 20 points. These 20 points count 10% of your final grade for the course.

#### Start
Start of the Graded Lab 01 is **Tuesday, October 29th at 08:00**.

#### Deadline
Deadline for the submission of the Graded Lab 01 is **Tuesday, November 12th at 23:59**.

#### Note
Check each result carefully. Use data filter, cleaning, and transformation methods wherever needed. The data can sometimes be really messy and have hidden issues.

#### Submission
You are allowed to submit the solution in groups of **two or three** students.
Submit your GradedLab01.ipynb file renamed to FirstnameStudent01LastnameStudent01_FirstnameStudent02LastnameStudent02_FirstnameStudent03LastnameStudent03.ipynb in moodle.   
Please submit a runnable python jupyter notebook file.
All other submissions will be rejected and graded with 0 points.

#### Task 01: Structured Data [8 points].    
The imdb.csv file contains a dataset extracted from IMDB with several attributes. For example, the title, plot, and the language of the movies. Read the imdb.csv file in a pandas dataframe and try to answer the following questions.

In [1]:
import pandas as pd

imdb = pd.read_csv('imdb.csv')
imdb.head()

,id,kind,title,languages,genres,rating,director,cumulative worldwide gross,opening weekend united states,budget,plot
0,111161,movie,The Shawshank Redemption,['English'],['Drama'],9.3,Frank Darabont,"$58,500,000","$727,326, 20 Nov 1994","$25,000,000 (estimated)",Chronicles the experiences of a formerly succe...
1,68646,movie,The Godfather,"['English', 'Italian', 'Latin']","['Crime', 'Drama']",9.2,Francis Ford Coppola,"$245,066,411","$223,758, 04 Apr 1997","$6,000,000 (estimated)","The Godfather ""Don"" Vito Corleone is the head ..."
2,468569,movie,The Dark Knight,"['English', 'Mandarin']","['Action', 'Crime', 'Drama', 'Thriller']",9.1,Christopher Nolan,"$1,004,558,444, 19 Jul 2012","$158,411,483, 20 Jul 2008","$185,000,000 (estimated)",Set within a year after the events of Batman B...
3,108052,movie,Schindler's List,"['English', 'Hebrew', 'German', 'Polish', 'Lat...","['Biography', 'Drama', 'History']",9.0,Steven Spielberg,"$221,000,000","$566,760, 09 Dec 2018","$22,000,000 (estimated)",Oskar Schindler is a vain and greedy German bu...
4,110912,movie,Pulp Fiction,"['English', 'Spanish', 'French']","['Crime', 'Drama']",8.9,Quentin Tarantino,"$213,928,762","$9,311,882, 14 Oct 1994","$8,000,000 (estimated)",Jules Winnfield (Samuel L. Jackson) and Vincen...

In [2]:
imdb.tail()

,id,kind,title,languages,genres,rating,director,cumulative worldwide gross,opening weekend united states,budget,plot
154,2085059,tv series,Black Mirror,['English'],"['Drama', 'Mystery', 'Sci-Fi', 'Thriller']",8.8,NaN,000000000,000000000,000000000,"[""An anthology series exploring a twisted, hig..."
155,2707408,tv series,Narcos,"['English', 'Spanish']","['Biography', 'Crime', 'Drama', 'Thriller']",8.8,NaN,000000000,000000000,000000000,['A chronicled look at the criminal exploits o...
156,98936,tv series,Twin Peaks,"['English', 'Icelandic', 'Afrikaans', 'Norwegi...","['Crime', 'Drama', 'Mystery', 'Thriller']",8.8,NaN,000000000,000000000,000000000,['An idiosyncratic FBI agent investigates the ...
157,4934214,tv series,Taskmaster,['English'],"['Comedy', 'Game-Show']",9.0,NaN,000000000,000000000,000000000,['Five comedians are set tasks challenging the...
158,200276,tv series,The West Wing,['English'],['Drama'],8.9,NaN,000000000,000000000,000000000,['Inside the lives of staffers in the West Win...

In [3]:
imdb.info()
imdb.nunique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   id                             159 non-null    int64
 1   kind                           159 non-null    object
 2   title                          159 non-null    object
 3   languages                      159 non-null    object
 4   genres                         159 non-null    object
 5   rating                         159 non-null    float64
 6   director                       97 non-null     object
 7   cumulative worldwide gross     159 non-null    object
 8   opening weekend united states  159 non-null    object
 9   budget                         159 non-null    object
 10  plot                           159 non-null    object
dtypes: float64(1), int64(1), object(9)
memory usage: 13.8+ KB

id                               159
kind                               3
title                            158
languages                         53
genres                            83
rating                            16
director                          65
cumulative worldwide gross        98
opening weekend united states     98
budget                            66
plot                             159
dtype: int64

In [4]:
imdb.isnull().sum()

id                                0
kind                              0
title                             0
languages                         0
genres                            0
rating                            0
director                         62
cumulative worldwide gross        0
opening weekend united states     0
budget                            0
plot                              0
dtype: int64

- **62 mal budget, opening weekend united states und cumulative worldwide gross 000000**
- **title alle 1 mal ausser Fargo 2 mal**
- **62 kein direktor also NaN**

##### __(a)  What is the min, max, and the average value of the attribute 'rating' for all movies? [1 point].__

In [5]:
#Order rows by values of a column (high to low)
imdb.sort_values('rating', ascending=False)

#min rating 
min_rating = imdb['rating'].min()
print(f"Min value rating is {min_rating}")


max_rating = imdb['rating'].max()
print(f"Max value rating is {max_rating}")

mean_rating = imdb['rating'].mean()
print(f"Mean value rating is {mean_rating}")

Min value rating is 8.1
Max value rating is 9.6
Mean value rating is 8.629559748427672

##### __(b) What is the min, max, and the average value of the attribute 'cumulative worldwide gross' for all movies? [1 point].__

In [6]:
#Order rows by values of a column (high to low)
imdb.sort_values('cumulative worldwide gross', ascending=False)

# Ensure the column is of type string before using .str methods
imdb['cumulative worldwide gross'] = imdb['cumulative worldwide gross'].astype(str)

# Step 1: Remove dollar signs and commas
imdb['cumulative worldwide gross'] = imdb['cumulative worldwide gross'].str.replace('[$,]', '', regex=True)

# Step 2: Remove any trailing date information by extracting only the numeric part
imdb['cumulative worldwide gross'] = imdb['cumulative worldwide gross'].str.extract(r'(\d+)')[0]

# Step 3: Convert the column to numeric
imdb['cumulative worldwide gross'] = pd.to_numeric(imdb['cumulative worldwide gross'])

# Calculate minimum, maximum, and mean values
min_gross = imdb['cumulative worldwide gross'].min()
max_gross = imdb['cumulative worldwide gross'].max()
mean_gross = imdb['cumulative worldwide gross'].mean()

# Print the results
print(f"Min value of cumulative worldwide gross is {min_gross}")
print(f"Max value of cumulative worldwide gross is {max_gross}")
print(f"Mean value of cumulative worldwide gross is {mean_gross:.2f}")

Min value of cumulative worldwide gross is 0
Max value of cumulative worldwide gross is 2797800564
Mean value of cumulative worldwide gross is 238223230.15

##### __(c) What is the min, max, and the average value of the attribute 'cumulative worldwide gross' grouped by genre of the movies? [1 point].__

In [7]:


# Step 2: Split the 'genres' column into a list of genres
imdb['genres'] = imdb['genres'].apply(eval)  # Convert string representation of lists to actual lists

# Step 3: Explode the 'genres' column to have one genre per row
imdb_exploded = imdb.explode('genres')

# Step 4: Group by 'genres', calculate min, max, mean, and count the number of movies
genre_grouped_stats = imdb_exploded.groupby('genres').agg(
    min=('cumulative worldwide gross', 'min'),
    max=('cumulative worldwide gross', 'max'),
    mean=('cumulative worldwide gross', 'mean'),
    count=('cumulative worldwide gross', 'size')
).reset_index()

# Display the results
print(genre_grouped_stats)

         genres        min         max          mean  count
0        Action          0  2797800564  4.655257e+08     34
1     Adventure          0  2797800564  5.123588e+08     42
2     Animation          0  1068879522  3.958353e+08     25
3     Biography          0   392000694  1.538608e+08     14
4        Comedy          0  1068879522  2.447827e+08     37
5         Crime          0  1084939099  1.824480e+08     39
6   Documentary          0           0  0.000000e+00     18
7         Drama          0  2797800564  2.290571e+08     92
8        Family          0  1068879522  5.497713e+08     18
9       Fantasy          0  1068879522  3.426368e+08     24
10    Game-Show          0           0  0.000000e+00      1
11      History          0   400176459  7.840920e+07     13
12       Horror          0   441306145  8.982547e+07      5
13        Music          0   807082196  2.946962e+08      4
14      Musical  424967620   968483777  6.325005e+08      3
15      Mystery          0   807082196  1.406539e+08     23
16         News          0           0  0.000000e+00      1
17   Reality-TV          0           0  0.000000e+00      2
18      Romance          0   677945399  2.344835e+08     10
19       Sci-Fi          0  2797800564  4.410689e+08     26
20        Sport          0   225000000  1.164948e+08      4
21    Talk-Show          0           0  0.000000e+00      1
22     Thriller          0  1074251311  2.154442e+08     39
23          War          0   481840909  1.213808e+08      9
24      Western  159157447   425368238  3.362419e+08      3

##### __(d) What is the profit (defined as cumulative worldwide gross - budget) of each movie? [1 point].__

In [8]:


# Step 1: Remove "(estimated)" from 'budget'
imdb['budget'] = imdb['budget'].astype(str)
imdb['budget'] = imdb['budget'].str.replace(r'\(estimated\)', '', regex=True)

# Step 2: Remove dollar signs and commas from 'budget' and convert to numeric
imdb['budget'] = imdb['budget'].str.replace('[$,]', '', regex=True)
imdb['budget'] = pd.to_numeric(imdb['budget'], errors='coerce')

# Step 4: Replace 0 values in 'budget' with NaN to handle them as missing values
imdb['budget'] = imdb['budget'].replace(0, pd.NA)

# Step 5: Calculate the profit as cumulative worldwide gross - budget
imdb['profit'] = imdb['cumulative worldwide gross'] - imdb['budget']

# Step 6: Sort by profit in descending order
imdb_sorted = imdb.sort_values(by='profit', ascending=False)

# Step 7: Display the top 10 films with the highest profit
print(imdb_sorted[['title', 'profit']].head(10))

                     title      profit
39       Avengers: Endgame  2441800564
31  Avengers: Infinity War  1727709917
34                   Joker  1019251311
61           Jurassic Park   966153882
19           The Lion King   923483777
41             Toy Story 3   878879522
63            Finding Nemo   842743261
33   The Dark Knight Rises   834939099
2          The Dark Knight   819558444
15               Star Wars   764398007

##### __(e)  What is the min, max, and the average value of the atttribute 'opening weekend united states' per month? [4 points].__

In [11]:
import pandas as pd
import re

# Assuming 'imdb' is your full DataFrame with 159 rows
# Load the full 'opening weekend united states' column for processing
# The following line should be commented or replaced with your actual data load
# imdb = pd.read_csv('your_imdb_data.csv')

# Function to extract the values and date components
def extract_data(value):
    # Extract dollar amount using regex
    amount = re.search(r'\$([\d,]+)', value)
    amount = int(amount.group(1).replace(',', '')) if amount else 0

    # Extract date using regex
    date = re.search(r'(\d{2} \w{3} \d{4})', value)
    date = pd.to_datetime(date.group(0)) if date else None

    return amount, date

# Apply the extraction function and create new columns
imdb[['amount', 'date']] = imdb['opening weekend united states'].apply(lambda x: pd.Series(extract_data(x)))

# Extract month from the date
imdb['month'] = imdb['date'].dt.month

# Group by month and calculate min, max, and average
result = imdb.groupby('month')['amount'].agg(['min', 'max', 'mean']).reset_index()


print(result)

    month         min          max          mean
0     1.0     15172.0   17754905.0  7.363771e+06
1     2.0  13766814.0   41062440.0  3.024530e+07
2     3.0    235488.0   88411916.0  2.360451e+07
3     4.0     12562.0  357115007.0  1.102430e+08
4     5.0  34819017.0   68108790.0  5.146390e+07
5     6.0    340456.0  110307189.0  3.929574e+07
6     7.0    137301.0  160887295.0  4.199736e+07
7     8.0    645363.0   26681262.0  1.709731e+07
8     9.0    212440.0   20817053.0  7.305613e+06
9    10.0     64770.0   96202337.0  1.930041e+07
10   11.0     99761.0   70467623.0  1.830448e+07
11   12.0    179953.0   35363376.0  1.287903e+07

#### Task 02: Unstructured Data [12 points]. 
We again use the imdb.csv file from Task 01. In this task we mainly use the content of the attribute 'plot' for the implementation of a retrieval system.

##### __(a)  Read the files imdb.csv and imdb2.csv in a dataframe called imdb. Add a column which is called 'plotterms' to each item. The new column should contain all terms (lower-case and cleaned from special characters) from the plot attribute which are not contained in the stopwords_english.txt file. [2 points]__

##### __(b)  Create an inverted index for the terms in the 'plotterms' column. Use a datastructure of your choice for the implementation [2 points]__

##### __(c) Take the inverted index and create the posting list for the query 'american'. Return the posting list as well as the top5 items scored by the rating attribute. [2 points]__

##### __(d) Extend your index to be able to rank the items by the occurrence of search terms in the plotterms. Execute the query 'american' and 'dream' (the term 'american' as well as the term 'dream' should be contained in the plot) again and print the resulting top5 items.  [2 points]__

##### __(e) Extend your index to be able to rank the items by the position of the search terms in the plotterms. Execute the query 'american' and 'dream' (the term 'american' as well as the term 'dream' should be contained in the plot) again and print the resulting top5 items.  [2 points]__

##### __(f) Extend your index to be able to rank the items by a value of your choice. Explain why you have chosen this value. Execute the query 'american' and 'dream' (the term 'american' as well as the term 'dream' should be contained in the plot) again and print the resulting top5 items.  [2 points]__