# Data Engineering: Graded Lab 01
---------------

#### Grading
For this graded lab you can get a total of 20 points. These 20 points count 10% of your final grade for the course.

#### Start
Start of the Graded Lab 01 is **Tuesday, October 29th at 08:00**.

#### Deadline
Deadline for the submission of the Graded Lab 01 is **Tuesday, November 12th at 23:59**.

#### Note
Check each result carefully. Use data filter, cleaning, and transformation methods wherever needed. The data can sometimes be really messy and have hidden issues.

#### Submission
You are allowed to submit the solution in groups of **two or three** students.
Submit your GradedLab01.ipynb file renamed to FirstnameStudent01LastnameStudent01_FirstnameStudent02LastnameStudent02_FirstnameStudent03LastnameStudent03.ipynb in moodle.   
Please submit a runnable python jupyter notebook file.
All other submissions will be rejected and graded with 0 points.

#### Task 01: Structured Data [8 points].    
The imdb.csv file contains a dataset extracted from IMDB with several attributes. For example, the title, plot, and the language of the movies. Read the imdb.csv file in a pandas dataframe and try to answer the following questions.

In [2]:
import pandas as pd

imdb = pd.read_csv('imdb.csv')
imdb.head()

,id,kind,title,languages,genres,rating,director,cumulative worldwide gross,opening weekend united states,budget,plot
0,111161,movie,The Shawshank Redemption,['English'],['Drama'],9.3,Frank Darabont,"$58,500,000","$727,326, 20 Nov 1994","$25,000,000 (estimated)",Chronicles the experiences of a formerly succe...
1,68646,movie,The Godfather,"['English', 'Italian', 'Latin']","['Crime', 'Drama']",9.2,Francis Ford Coppola,"$245,066,411","$223,758, 04 Apr 1997","$6,000,000 (estimated)","The Godfather ""Don"" Vito Corleone is the head ..."
2,468569,movie,The Dark Knight,"['English', 'Mandarin']","['Action', 'Crime', 'Drama', 'Thriller']",9.1,Christopher Nolan,"$1,004,558,444, 19 Jul 2012","$158,411,483, 20 Jul 2008","$185,000,000 (estimated)",Set within a year after the events of Batman B...
3,108052,movie,Schindler's List,"['English', 'Hebrew', 'German', 'Polish', 'Lat...","['Biography', 'Drama', 'History']",9.0,Steven Spielberg,"$221,000,000","$566,760, 09 Dec 2018","$22,000,000 (estimated)",Oskar Schindler is a vain and greedy German bu...
4,110912,movie,Pulp Fiction,"['English', 'Spanish', 'French']","['Crime', 'Drama']",8.9,Quentin Tarantino,"$213,928,762","$9,311,882, 14 Oct 1994","$8,000,000 (estimated)",Jules Winnfield (Samuel L. Jackson) and Vincen...

In [3]:
imdb.tail()

,id,kind,title,languages,genres,rating,director,cumulative worldwide gross,opening weekend united states,budget,plot
154,2085059,tv series,Black Mirror,['English'],"['Drama', 'Mystery', 'Sci-Fi', 'Thriller']",8.8,NaN,000000000,000000000,000000000,"[""An anthology series exploring a twisted, hig..."
155,2707408,tv series,Narcos,"['English', 'Spanish']","['Biography', 'Crime', 'Drama', 'Thriller']",8.8,NaN,000000000,000000000,000000000,['A chronicled look at the criminal exploits o...
156,98936,tv series,Twin Peaks,"['English', 'Icelandic', 'Afrikaans', 'Norwegi...","['Crime', 'Drama', 'Mystery', 'Thriller']",8.8,NaN,000000000,000000000,000000000,['An idiosyncratic FBI agent investigates the ...
157,4934214,tv series,Taskmaster,['English'],"['Comedy', 'Game-Show']",9.0,NaN,000000000,000000000,000000000,['Five comedians are set tasks challenging the...
158,200276,tv series,The West Wing,['English'],['Drama'],8.9,NaN,000000000,000000000,000000000,['Inside the lives of staffers in the West Win...

In [4]:
imdb.info()
imdb.nunique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   id                             159 non-null    int64
 1   kind                           159 non-null    object
 2   title                          159 non-null    object
 3   languages                      159 non-null    object
 4   genres                         159 non-null    object
 5   rating                         159 non-null    float64
 6   director                       97 non-null     object
 7   cumulative worldwide gross     159 non-null    object
 8   opening weekend united states  159 non-null    object
 9   budget                         159 non-null    object
 10  plot                           159 non-null    object
dtypes: float64(1), int64(1), object(9)
memory usage: 13.8+ KB

id                               159
kind                               3
title                            158
languages                         53
genres                            83
rating                            16
director                          65
cumulative worldwide gross        98
opening weekend united states     98
budget                            66
plot                             159
dtype: int64

In [5]:
imdb.isnull().sum()

id                                0
kind                              0
title                             0
languages                         0
genres                            0
rating                            0
director                         62
cumulative worldwide gross        0
opening weekend united states     0
budget                            0
plot                              0
dtype: int64

- **62 mal budget, opening weekend united states und cumulative worldwide gross 000000**
- **title alle 1 mal ausser Fargo 2 mal**
- **62 kein direktor also NaN**

##### __(a)  What is the min, max, and the average value of the attribute 'rating' for all movies? [1 point].__

In [6]:
#Order rows by values of a column (high to low)
imdb.sort_values('rating', ascending=False)

#min rating 
min_rating = imdb['rating'].min()
print(f"Min value rating is {min_rating}")


max_rating = imdb['rating'].max()
print(f"Max value rating is {max_rating}")

mean_rating = imdb['rating'].mean()
print(f"Mean value rating is {mean_rating}")

Min value rating is 8.1
Max value rating is 9.6
Mean value rating is 8.629559748427672

##### __(b) What is the min, max, and the average value of the attribute 'cumulative worldwide gross' for all movies? [1 point].__

In [7]:
#Order rows by values of a column (high to low)
imdb.sort_values('cumulative worldwide gross', ascending=False)

# Ensure the column is of type string before using .str methods
imdb['cumulative worldwide gross'] = imdb['cumulative worldwide gross'].astype(str)

# Step 1: Remove dollar signs and commas
imdb['cumulative worldwide gross'] = imdb['cumulative worldwide gross'].str.replace('[$,]', '', regex=True)

# Step 2: Remove any trailing date information by extracting only the numeric part
imdb['cumulative worldwide gross'] = imdb['cumulative worldwide gross'].str.extract(r'(\d+)')[0]

# Step 3: Convert the column to numeric, setting errors='coerce' to handle any non-numeric values as NaN
imdb['cumulative worldwide gross'] = pd.to_numeric(imdb['cumulative worldwide gross'], errors='coerce')

# Calculate minimum, maximum, and mean values
min_gross = imdb['cumulative worldwide gross'].min()
max_gross = imdb['cumulative worldwide gross'].max()
mean_gross = imdb['cumulative worldwide gross'].mean()

# Print the results
print(f"Min value of cumulative worldwide gross is {min_gross}")
print(f"Max value of cumulative worldwide gross is {max_gross}")
print(f"Mean value of cumulative worldwide gross is {mean_gross:.2f}")

Min value of cumulative worldwide gross is 0
Max value of cumulative worldwide gross is 2797800564
Mean value of cumulative worldwide gross is 238223230.15

##### __(c) What is the min, max, and the average value of the attribute 'cumulative worldwide gross' grouped by genre of the movies? [1 point].__

##### __(d) What is the profit (defined as cumulative worldwide gross - budget) of each movie? [1 point].__

##### __(e)  What is the min, max, and the average value of the atttribute 'opening weekend united states' per month? [4 points].__

#### Task 02: Unstructured Data [12 points]. 
We again use the imdb.csv file from Task 01. In this task we mainly use the content of the attribute 'plot' for the implementation of a retrieval system.

##### __(a)  Read the files imdb.csv and imdb2.csv in a dataframe called imdb. Add a column which is called 'plotterms' to each item. The new column should contain all terms (lower-case and cleaned from special characters) from the plot attribute which are not contained in the stopwords_english.txt file. [2 points]__

##### __(b)  Create an inverted index for the terms in the 'plotterms' column. Use a datastructure of your choice for the implementation [2 points]__

##### __(c) Take the inverted index and create the posting list for the query 'american'. Return the posting list as well as the top5 items scored by the rating attribute. [2 points]__

##### __(d) Extend your index to be able to rank the items by the occurrence of search terms in the plotterms. Execute the query 'american' and 'dream' (the term 'american' as well as the term 'dream' should be contained in the plot) again and print the resulting top5 items.  [2 points]__

##### __(e) Extend your index to be able to rank the items by the position of the search terms in the plotterms. Execute the query 'american' and 'dream' (the term 'american' as well as the term 'dream' should be contained in the plot) again and print the resulting top5 items.  [2 points]__

##### __(f) Extend your index to be able to rank the items by a value of your choice. Explain why you have chosen this value. Execute the query 'american' and 'dream' (the term 'american' as well as the term 'dream' should be contained in the plot) again and print the resulting top5 items.  [2 points]__