# Data Engineering: Graded Lab 01
---------------

#### Grading
For this graded lab you can get a total of 20 points. These 20 points count 10% of your final grade for the course.

#### Start
Start of the Graded Lab 01 is **Tuesday, October 29th at 08:00**.

#### Deadline
Deadline for the submission of the Graded Lab 01 is **Tuesday, November 12th at 23:59**.

#### Note
Check each result carefully. Use data filter, cleaning, and transformation methods wherever needed. The data can sometimes be really messy and have hidden issues.

#### Submission
You are allowed to submit the solution in groups of **two or three** students.
Submit your GradedLab01.ipynb file renamed to FirstnameStudent01LastnameStudent01_FirstnameStudent02LastnameStudent02_FirstnameStudent03LastnameStudent03.ipynb in moodle.   
Please submit a runnable python jupyter notebook file.
All other submissions will be rejected and graded with 0 points.

#### Task 01: Structured Data [8 points].    
The imdb.csv file contains a dataset extracted from IMDB with several attributes. For example, the title, plot, and the language of the movies. Read the imdb.csv file in a pandas dataframe and try to answer the following questions.

In [245]:
import pandas as pd
import re

imdb = pd.read_csv('imdb.csv')
imdb.head()

,id,kind,title,languages,genres,rating,director,cumulative worldwide gross,opening weekend united states,budget,plot
0,111161,movie,The Shawshank Redemption,['English'],['Drama'],9.3,Frank Darabont,"$58,500,000","$727,326, 20 Nov 1994","$25,000,000 (estimated)",Chronicles the experiences of a formerly succe...
1,68646,movie,The Godfather,"['English', 'Italian', 'Latin']","['Crime', 'Drama']",9.2,Francis Ford Coppola,"$245,066,411","$223,758, 04 Apr 1997","$6,000,000 (estimated)","The Godfather ""Don"" Vito Corleone is the head ..."
2,468569,movie,The Dark Knight,"['English', 'Mandarin']","['Action', 'Crime', 'Drama', 'Thriller']",9.1,Christopher Nolan,"$1,004,558,444, 19 Jul 2012","$158,411,483, 20 Jul 2008","$185,000,000 (estimated)",Set within a year after the events of Batman B...
3,108052,movie,Schindler's List,"['English', 'Hebrew', 'German', 'Polish', 'Lat...","['Biography', 'Drama', 'History']",9.0,Steven Spielberg,"$221,000,000","$566,760, 09 Dec 2018","$22,000,000 (estimated)",Oskar Schindler is a vain and greedy German bu...
4,110912,movie,Pulp Fiction,"['English', 'Spanish', 'French']","['Crime', 'Drama']",8.9,Quentin Tarantino,"$213,928,762","$9,311,882, 14 Oct 1994","$8,000,000 (estimated)",Jules Winnfield (Samuel L. Jackson) and Vincen...

In [246]:
imdb.tail()

,id,kind,title,languages,genres,rating,director,cumulative worldwide gross,opening weekend united states,budget,plot
154,2085059,tv series,Black Mirror,['English'],"['Drama', 'Mystery', 'Sci-Fi', 'Thriller']",8.8,NaN,000000000,000000000,000000000,"[""An anthology series exploring a twisted, hig..."
155,2707408,tv series,Narcos,"['English', 'Spanish']","['Biography', 'Crime', 'Drama', 'Thriller']",8.8,NaN,000000000,000000000,000000000,['A chronicled look at the criminal exploits o...
156,98936,tv series,Twin Peaks,"['English', 'Icelandic', 'Afrikaans', 'Norwegi...","['Crime', 'Drama', 'Mystery', 'Thriller']",8.8,NaN,000000000,000000000,000000000,['An idiosyncratic FBI agent investigates the ...
157,4934214,tv series,Taskmaster,['English'],"['Comedy', 'Game-Show']",9.0,NaN,000000000,000000000,000000000,['Five comedians are set tasks challenging the...
158,200276,tv series,The West Wing,['English'],['Drama'],8.9,NaN,000000000,000000000,000000000,['Inside the lives of staffers in the West Win...

In [247]:
imdb.info()
imdb.nunique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   id                             159 non-null    int64
 1   kind                           159 non-null    object
 2   title                          159 non-null    object
 3   languages                      159 non-null    object
 4   genres                         159 non-null    object
 5   rating                         159 non-null    float64
 6   director                       97 non-null     object
 7   cumulative worldwide gross     159 non-null    object
 8   opening weekend united states  159 non-null    object
 9   budget                         159 non-null    object
 10  plot                           159 non-null    object
dtypes: float64(1), int64(1), object(9)
memory usage: 13.8+ KB

id                               159
kind                               3
title                            158
languages                         53
genres                            83
rating                            16
director                          65
cumulative worldwide gross        98
opening weekend united states     98
budget                            66
plot                             159
dtype: int64

In [248]:
imdb.isnull().sum()

id                                0
kind                              0
title                             0
languages                         0
genres                            0
rating                            0
director                         62
cumulative worldwide gross        0
opening weekend united states     0
budget                            0
plot                              0
dtype: int64

- **62 mal budget, opening weekend united states und cumulative worldwide gross 000000**
- **title alle 1 mal ausser Fargo 2 mal**
- **62 kein direktor also NaN**

##### __(a)  What is the min, max, and the average value of the attribute 'rating' for all movies? [1 point].__

In [249]:


#min rating 
min_rating = imdb['rating'].min()
print(f"Min value rating is {min_rating}")


max_rating = imdb['rating'].max()
print(f"Max value rating is {max_rating}")

mean_rating = imdb['rating'].mean()
print(f"Mean value rating is {mean_rating}")

Min value rating is 8.1
Max value rating is 9.6
Mean value rating is 8.629559748427672

##### __(b) What is the min, max, and the average value of the attribute 'cumulative worldwide gross' for all movies? [1 point].__

In [250]:


# Ensure the column is of type string before using .str methods
imdb['cumulative worldwide gross'] = imdb['cumulative worldwide gross'].astype(str)

#Remove dollar signs and commas
imdb['cumulative worldwide gross'] = imdb['cumulative worldwide gross'].str.replace('[$,]', '', regex=True)

# Remove any trailing date information by extracting only the numeric part
imdb['cumulative worldwide gross'] = imdb['cumulative worldwide gross'].str.extract(r'(\d+)')[0]

# Convert the column to numeric
imdb['cumulative worldwide gross'] = pd.to_numeric(imdb['cumulative worldwide gross'])

# Calculate minimum, maximum, and mean values
min_gross = imdb['cumulative worldwide gross'].min()
max_gross = imdb['cumulative worldwide gross'].max()
mean_gross = imdb['cumulative worldwide gross'].mean()

# Print the results
print(f"Min value of cumulative worldwide gross is {min_gross}")
print(f"Max value of cumulative worldwide gross is {max_gross}")
print(f"Mean value of cumulative worldwide gross is {mean_gross:.2f}")

Min value of cumulative worldwide gross is 0
Max value of cumulative worldwide gross is 2797800564
Mean value of cumulative worldwide gross is 238223230.15

##### __(c) What is the min, max, and the average value of the attribute 'cumulative worldwide gross' grouped by genre of the movies? [1 point].__

In [251]:
grouped = imdb.groupby('genres')
grouped.head()

,id,kind,title,languages,genres,rating,director,cumulative worldwide gross,opening weekend united states,budget,plot
0,111161,movie,The Shawshank Redemption,['English'],['Drama'],9.3,Frank Darabont,58500000,"$727,326, 20 Nov 1994","$25,000,000 (estimated)",Chronicles the experiences of a formerly succe...
1,68646,movie,The Godfather,"['English', 'Italian', 'Latin']","['Crime', 'Drama']",9.2,Francis Ford Coppola,245066411,"$223,758, 04 Apr 1997","$6,000,000 (estimated)","The Godfather ""Don"" Vito Corleone is the head ..."
2,468569,movie,The Dark Knight,"['English', 'Mandarin']","['Action', 'Crime', 'Drama', 'Thriller']",9.1,Christopher Nolan,1004558444,"$158,411,483, 20 Jul 2008","$185,000,000 (estimated)",Set within a year after the events of Batman B...
3,108052,movie,Schindler's List,"['English', 'Hebrew', 'German', 'Polish', 'Lat...","['Biography', 'Drama', 'History']",9.0,Steven Spielberg,221000000,"$566,760, 09 Dec 2018","$22,000,000 (estimated)",Oskar Schindler is a vain and greedy German bu...
4,110912,movie,Pulp Fiction,"['English', 'Spanish', 'French']","['Crime', 'Drama']",8.9,Quentin Tarantino,213928762,"$9,311,882, 14 Oct 1994","$8,000,000 (estimated)",Jules Winnfield (Samuel L. Jackson) and Vincen...
...,...,...,...,...,...,...,...,...,...,...,...
151,112130,tv mini series,Pride and Prejudice,['English'],"['Drama', 'Romance']",8.9,NaN,0,000000000,000000000,['While the arrival of wealthy gentlemen sends...
152,3032476,tv series,Better Call Saul,"['English', 'Spanish', 'Vietnamese']","['Crime', 'Drama']",8.8,NaN,0,000000000,000000000,['The trials and tribulations of criminal lawy...
154,2085059,tv series,Black Mirror,['English'],"['Drama', 'Mystery', 'Sci-Fi', 'Thriller']",8.8,NaN,0,000000000,000000000,"[""An anthology series exploring a twisted, hig..."
155,2707408,tv series,Narcos,"['English', 'Spanish']","['Biography', 'Crime', 'Drama', 'Thriller']",8.8,NaN,0,000000000,000000000,['A chronicled look at the criminal exploits o...
157,4934214,tv series,Taskmaster,['English'],"['Comedy', 'Game-Show']",9.0,NaN,0,000000000,000000000,['Five comedians are set tasks challenging the...

In [252]:

# clean the Column in order to split them 
imdb['genres'] = imdb['genres'].str.strip("[]").str.replace("'", "").str.split(",")

# unnest the columns in order to group them 
unnest_movies = imdb.explode('genres')

# groupby and aggreagate in order to get min, max, mean 
genres_stats = unnest_movies.groupby('genres')['cumulative worldwide gross'].agg(['min', 'max', 'mean'])
genres_stats

                   min         max          mean
genres
 Action              0   631442092  1.365329e+08
 Adventure           0  2797800564  5.524923e+08
 Biography           0    56255142  1.875171e+07
 Comedy              0  1068879522  3.912115e+08
 Crime               0  1084939099  2.551897e+08
 Drama               0  2797800564  2.664880e+08
 Family              0  1068879522  5.497713e+08
 Fantasy             0  1068879522  3.426368e+08
 Game-Show           0           0  0.000000e+00
 History             0   400176459  7.840920e+07
 Horror              0           0  0.000000e+00
 Music               0   807082196  2.946962e+08
 Musical     424967620   968483777  6.325005e+08
 Mystery             0   807082196  1.431811e+08
 News                0           0  0.000000e+00
 Reality-TV          0           0  0.000000e+00
 Romance             0   677945399  2.344835e+08
 Sci-Fi              0  2797800564  4.410689e+08
 Sport               0   225000000  1.164948e+08
 Talk-Show           0           0  0.000000e+00
 Thriller            0  1074251311  2.154442e+08
 War                 0   481840909  1.213808e+08
 Western     159157447   425368238  3.362419e+08
Action               0  2797800564  6.228701e+08
Adventure            0   675020017  3.116912e+08
Animation            0  1068879522  3.958353e+08
Biography            0   392000694  1.907088e+08
Comedy               0   264118201  3.002052e+07
Crime                0  1074251311  1.369844e+08
Documentary          0           0  0.000000e+00
Drama                0   677945399  1.554028e+08
Horror         7821228   441306145  2.245637e+08
Mystery       36888916   294804195  1.238054e+08

##### __(d) What is the profit (defined as cumulative worldwide gross - budget) of each movie? [1 point].__

In [253]:


#Remove "(estimated)" from 'budget'
imdb['budget'] = imdb['budget'].astype(str)
imdb['budget'] = imdb['budget'].str.replace(r'\(estimated\)', '', regex=True)

#Remove dollar signs and commas from 'budget' and convert to numeric
imdb['budget'] = imdb['budget'].str.replace('[$,]', '', regex=True)
imdb['budget'] = pd.to_numeric(imdb['budget'], errors='coerce')

#Replace 0 values in 'budget' with NaN to handle them as missing values
imdb['budget'] = imdb['budget'].replace(0, pd.NA)

# Calculate the profit as cumulative worldwide gross - budget
imdb['profit'] = imdb['cumulative worldwide gross'] - imdb['budget']


# Display 
print(imdb[['title', 'profit']].head(10))

                                            title     profit
0                        The Shawshank Redemption   33500000
1                                   The Godfather  239066411
2                                 The Dark Knight  819558444
3                                Schindler's List  199000000
4                                    Pulp Fiction  205928762
5                                    Forrest Gump  622945399
6                                      Fight Club    8000000
7                                       Inception  665532764
8  Star Wars: Episode V - The Empire Strikes Back  229916602
9                                      The Matrix  400517383

##### __(e)  What is the min, max, and the average value of the atttribute 'opening weekend united states' per month? [4 points].__

**Ist hier der durchschnitt aller Monate gefragt oder jeder einzelne?** **Darum 2 Lösungen!!**

In [254]:
# same as before
imdb['opening weekend united states'] = imdb['opening weekend united states'].str.replace('[^\d.]', '', regex=True).astype(float)

opening_stats = imdb['opening weekend united states'].agg(['min', 'max', 'mean'])

opening_stats

min     0.000000e+00
max     3.571150e+14
mean    1.762004e+13
Name: opening weekend united states, dtype: float64

#### Task 02: Unstructured Data [12 points]. 
We again use the imdb.csv file from Task 01. In this task we mainly use the content of the attribute 'plot' for the implementation of a retrieval system.

##### __(a)  Read the files imdb.csv and imdb2.csv in a dataframe called imdb. Add a column which is called 'plotterms' to each item. The new column should contain all terms (lower-case and cleaned from special characters) from the plot attribute which are not contained in the stopwords_english.txt file. [2 points]__

In [255]:
# Second DF
imdb2 = pd.read_csv("imdb2.csv", sep= ',')

# concatenate the two Data Frames 
imdb = pd.concat([imdb,imdb2])

In [256]:
#read the file as a list 
import numpy as np 
stopfile = 'stopwords_english.txt'
stopwords = np.loadtxt(stopfile, encoding='utf-8' , dtype='str')

# Add a column plotterms and clean the column from special characters
imdb['plotterms'] = imdb['plot'].str.lower().str.replace(r'[^\w\s]','', regex=True)

# delete stopwordss in plotterms
imdb['plotterms'] = imdb['plotterms'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stopwords)]))
imdb.head()

,id,kind,title,languages,genres,rating,director,cumulative worldwide gross,opening weekend united states,budget,plot,profit,plotterms
0,111161,movie,The Shawshank Redemption,['English'],[Drama],9.3,Frank Darabont,58500000,7.273262e+11,25000000,Chronicles the experiences of a formerly succe...,33500000,chronicles experiences successful banker priso...
1,68646,movie,The Godfather,"['English', 'Italian', 'Latin']","[Crime, Drama]",9.2,Francis Ford Coppola,245066411,2.237580e+11,6000000,"The Godfather ""Don"" Vito Corleone is the head ...",239066411,godfather don vito corleone head corleone mafi...
2,468569,movie,The Dark Knight,"['English', 'Mandarin']","[Action, Crime, Drama, Thriller]",9.1,Christopher Nolan,1004558444,1.584115e+14,185000000,Set within a year after the events of Batman B...,819558444,set year events batman 2005 batman lieutenant ...
3,108052,movie,Schindler's List,"['English', 'Hebrew', 'German', 'Polish', 'Lat...","[Biography, Drama, History]",9.0,Steven Spielberg,221000000,5.667601e+11,22000000,Oskar Schindler is a vain and greedy German bu...,199000000,oskar schindler vain greedy german businessman...
4,110912,movie,Pulp Fiction,"['English', 'Spanish', 'French']","[Crime, Drama]",8.9,Quentin Tarantino,213928762,9.311882e+12,8000000,Jules Winnfield (Samuel L. Jackson) and Vincen...,205928762,jules winnfield samuel jackson vincent vega jo...

##### __(b)  Create an inverted index for the terms in the 'plotterms' column. Use a datastructure of your choice for the implementation [2 points]__

In [257]:
# inverted index
def create_inverted_index(df, column_name):
    inverted_index = {}
    for index, row in df.iterrows():
        terms = row[column_name].split()
        for term in terms:
            if term in inverted_index:
                inverted_index[term].add(index)
            else:
                inverted_index[term] = {index}
    return inverted_index


inverted_index = create_inverted_index(imdb, 'plotterms')

# dispaly head 
for term, indexes in list(inverted_index.items())[:10]:  
    print(f"Term: {term}, Indexes: {indexes}")

Term: chronicles, Indexes: {0, 132, 100, 102, 150, 27}
Term: experiences, Indexes: {0, 138, 100, 142}
Term: successful, Indexes: {0, 128, 130, 138, 149, 24, 122}
Term: banker, Indexes: {0}
Term: prisoner, Indexes: {0, 101, 94}
Term: gloomy, Indexes: {0}
Term: jailhouse, Indexes: {0}
Term: shawshank, Indexes: {0}
Term: guilty, Indexes: {0, 22}
Term: crime, Indexes: {0, 98, 132, 69, 102, 7, 133, 137, 139, 44, 48, 113, 119, 21, 55, 23, 118, 155}

##### __(c) Take the inverted index and create the posting list for the query 'american'. Return the posting list as well as the top5 items scored by the rating attribute. [2 points]__

In [258]:
def get_posting_list_for_query(inverted_index, query):
    return inverted_index.get(query, set())

def get_top_items_by_rating(df, posting_list, top_n=5):
    # Convert to list
    posting_list_as_list = list(posting_list)

    # Filter the DF to only include rows from the posting list
    filtered_df = df.loc[posting_list_as_list]

    # Sort by rating in descending order and take the top N items
    top_items = filtered_df.sort_values(by='rating', ascending=False).head(top_n)
    return top_items

# Get the posting list for 'american'
posting_list = get_posting_list_for_query(inverted_index, 'american')

# Get the top 5 items by rating
top_items = get_top_items_by_rating(imdb, posting_list, top_n=5)

# Display results
print("Posting List for 'american':", posting_list)
print("Top 5 Items by Rating:")
print(top_items[['id', 'title', 'rating']])

Posting List for 'american': {0, 1, 2, 3, 4, 69, 102, 135, 5, 6, 7, 77, 18, 116, 91}
Top 5 Items by Rating:
          id                     title  rating
0     111161  The Shawshank Redemption     9.3
102   306414                  The Wire     9.3
1      68646             The Godfather     9.2
116  1877514           The Vietnam War     9.1
2     468569           The Dark Knight     9.1

##### __(d) Extend your index to be able to rank the items by the occurrence of search terms in the plotterms. Execute the query 'american' and 'dream' (the term 'american' as well as the term 'dream' should be contained in the plot) again and print the resulting top5 items.  [2 points]__

In [259]:
# Extend the Inverted List with Frequencies 
def inverted_index_freq(df, column_name):
    inverted_index = {}
    for index, row in df.iterrows():
        terms = row[column_name].split()
        for term in terms:
            if term in inverted_index:
                if index in inverted_index[term]:
                    inverted_index[term][index] += 1
                else:
                    inverted_index[term][index] = 1
            else:
                inverted_index[term] = {index: 1}
    return inverted_index

inverted_index_freq = inverted_index_freq(imdb, 'plotterms')

In [260]:
def process_query_and_rank(inverted_index, df, query_terms, top_n=5):
    # Initialize empty sets for each term
    doc_sets = []

    # Populate doc_sets with sets of document IDs for each term
    for term in query_terms:
        term_docs = inverted_index.get(term, {})
        if isinstance(term_docs, pd.Series):
            term_docs = term_docs.to_dict()
        doc_sets.append(set(term_docs.keys()))

    # Calculate the intersection of document sets
    common_docs = set.intersection(*doc_sets)

    # Collect data for ranking as a list of tuples (doc_index, score, rating)
    ranking_data = []
    for doc_index in common_docs:
        score = sum(inverted_index[term].get(doc_index, 0) for term in query_terms)
        rating = df.iloc[doc_index]['rating']  # Access by integer-location based indexing
        ranking_data.append((doc_index, score, rating))

    # Sort the list by score and then by rating
    ranking_data.sort(key=lambda x: (x[1], x[2]), reverse=True)

    # Get the top N document indices
    top_doc_indices = [doc[0] for doc in ranking_data[:top_n]]

    # Retrieve the top N items from the DataFrame
    top_items = df.iloc[top_doc_indices]

    return top_items

# Execute the query 'american' and 'dream'
query_terms = ['american', 'dream']
top_items = process_query_and_rank(inverted_index_freq, imdb, query_terms, top_n=5)

# Display results
print("Top 5 Items for Query 'american' and 'dream':")
print(top_items[['id', 'title', 'rating']])

Top 5 Items for Query 'american' and 'dream':
        id                     title  rating
0   111161  The Shawshank Redemption     9.3
1    68646             The Godfather     9.2
2   468569           The Dark Knight     9.1
7  1375666                 Inception     8.8
3   108052          Schindler's List     9.0

##### __(e) Extend your index to be able to rank the items by the position of the search terms in the plotterms. Execute the query 'american' and 'dream' (the term 'american' as well as the term 'dream' should be contained in the plot) again and print the resulting top5 items.  [2 points]__

In [264]:
# inverted Index with the Position
def inv_index_pos(df, column_name):
    inverted_index = {}
    for index, row in df.iterrows():
        terms = row[column_name].split()
        for pos, term in enumerate(terms):
            if term in inverted_index:
                if index in inverted_index[term]:
                    inverted_index[term][index].append(pos)
                else:
                    inverted_index[term][index] = [pos]
            else:
                inverted_index[term] = {index: [pos]}
    return inverted_index

inverted_index_pos = inv_index_pos(imdb, 'plotterms')

In [265]:
# Process Query and Rank by position
def query_rank_by_pos(inverted_index, df, query_terms, top_n=5):
    # Initialize empty sets for each term
    doc_sets = [set(inverted_index.get(term, {}).keys()) for term in query_terms]

    # Calculate the intersection of document sets
    common_docs = set.intersection(*doc_sets)

    # Extract ratings into a dictionary for easy access
    ratings = df['rating'].to_dict()

    # Collect data for ranking
    ranking_data = []
    for doc in common_docs:
        # Calculate the earliest position for each term in the document
        earliest_positions = [min(inverted_index[term][doc]) for term in query_terms]
        avg_position = sum(earliest_positions) / len(earliest_positions)
        ranking_data.append((doc, avg_position, ratings[doc]))

    # Sort the list by average position (ascending) and then by rating (descending)
    ranking_data.sort(key=lambda x: (x[1], -x[2]))

    # Get the top N document IDs
    top_doc_ids = [doc[0] for doc in ranking_data[:top_n]]

    # Retrieve the top N items from the DataFrame
    top_items = df.loc[top_doc_ids]

    return top_items

# Execute the query 'american' and 'dream'
query_terms = ['american', 'dream']
top_items = query_rank_by_pos(inverted_index_pos, imdb, query_terms, top_n=5)

# Display results
print("Top 5 Items for Query 'american' and 'dream':")
print(top_items[['id', 'title', 'rating']])

Top 5 Items for Query 'american' and 'dream':
        id              title  rating
5   109830       Forrest Gump     8.8
5  5092484         Beneath Us     5.3
2   468569    The Dark Knight     9.1
2  2069861  My Favorite Movie     8.4
7  1375666          Inception     8.8
7   373862              Getno     4.0
6   137523         Fight Club     8.8
6  2365001          Immigrant     5.8
3   108052   Schindler's List     9.0
3  2267368        Joshua Tree     6.6

##### __(f) Extend your index to be able to rank the items by a value of your choice. Explain why you have chosen this value. Execute the query 'american' and 'dream' (the term 'american' as well as the term 'dream' should be contained in the plot) again and print the resulting top5 items.  [2 points]__

Für diese Aufgabe wähle ich die Bewertung (rating) in Kombination mit der Häufigkeit der Suchbegriffe als Wert, um die Elemente zu ranken. Der Grund für diese Wahl ist, dass die Bewertung eines Films oder einer Serie ein starkes Indiz für die Qualität und die allgemeine Beliebtheit ist. Wenn wir diese Bewertung mit der Häufigkeit der relevanten Suchbegriffe kombinieren, können wir sicherstellen, dass die Ergebnisse sowohl qualitativ hochwertig als auch thematisch relevant sind.

Begründung für die Wahl:
Bewertung (rating): Ein Film oder eine Serie mit einer hohen Bewertung wird in der Regel als besser angesehen und könnte für den Nutzer von größerem Interesse sein.
Häufigkeit der Suchbegriffe: Wenn die Suchbegriffe häufiger im Plot vorkommen, ist es wahrscheinlicher, dass der Inhalt für die gesuchte Thematik relevant ist.

In [267]:
# Funktion zur Berechnung der Häufigkeit der Suchbegriffe
def count_terms_in_plot(plot, terms):
    return sum(plot.split().count(term) for term in terms)

# Suchbegriffe definieren
search_terms = ['american', 'dream']

# Filtere nur die Zeilen, die beide Begriffe enthalten
filtered_df = imdb[
    imdb['plotterms'].apply(lambda x: all(term in x.split() for term in search_terms))
]

# Füge eine Spalte hinzu, die die Häufigkeit der Suchbegriffe berechnet
filtered_df['term_count'] = filtered_df['plotterms'].apply(lambda x: count_terms_in_plot(x, search_terms))

# Ranking-Wert berechnen: Kombination aus Bewertung und Häufigkeit
# Hier multipliziere ich die Bewertung mit der Häufigkeit der Suchbegriffe, um einen kombinierten Score zu erzeugen
filtered_df['ranking_value'] = filtered_df['rating'] * filtered_df['term_count']

# Sortiere die Ergebnisse nach dem kombinierten Score (absteigend)
ranked_df = filtered_df.sort_values(by='ranking_value', ascending=False).head(5)

# Ausgabe der Top-5 Elemente
print("Top 5 Elemente für die Abfrage 'american' und 'dream' nach kombinierten Wert:\n", ranked_df[['id', 'title', 'rating', 'term_count', 'ranking_value']])

Top 5 Elemente für die Abfrage 'american' und 'dream' nach kombinierten Wert:
         id                           title  rating  term_count  ranking_value
0   120669  Fear and Loathing in Las Vegas     7.5           9           67.5
2  2069861               My Favorite Movie     8.4           6           50.4
1  1343092                The Great Gatsby     7.2           6           43.2
3  2267368                     Joshua Tree     6.6           4           26.4
6  2365001                       Immigrant     5.8           4           23.2

C:\Users\chris\AppData\Local\Temp\ipykernel_11812\3478836063.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['term_count'] = filtered_df['plotterms'].apply(lambda x: count_terms_in_plot(x, search_terms))
C:\Users\chris\AppData\Local\Temp\ipykernel_11812\3478836063.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['ranking_value'] = filtered_df['rating'] * filtered_df['term_count']