# Data Engineering: Data Cleaning Exercise
---------------

#### a) Capitalize all the string values of the column name of the DataFrame

In [1]:
import pandas as pd
df = pd.DataFrame({
    'name': ['alberto','gino','ryan', 'Eesha', 'syed'],
    'date_of_birth ': ['17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]
})
print("Original DataFrame:")
print(df)

Original DataFrame:
      name date_of_birth    age
0  alberto     17/05/2002  18.5
1     gino     16/02/1999  21.2
2     ryan     25/09/1998  22.5
3    Eesha     11/05/2002  22.0
4     syed     15/09/1997  23.0

In [2]:
#Solution

print("\nAfter capitalizing name column:")
df['name'] = list(map(lambda x: x.capitalize(), df['name']))
print(df)

After capitalizing name column:
      name date_of_birth    age
0  Alberto     17/05/2002  18.5
1     Gino     16/02/1999  21.2
2     Ryan     25/09/1998  22.5
3    Eesha     11/05/2002  22.0
4     Syed     15/09/1997  23.0

#### b) Check whether alpha numeric values are present in the name_code column of the DataFrame

In [3]:
import pandas as pd
df = pd.DataFrame({
    'name_code': ['Company','Company a001','Company 123', '1234', 'Company 12'],
    'date_of_birth ': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]
})
print("Original DataFrame:")
print(df)

Original DataFrame:
      name_code date_of_birth    age
0       Company     12/05/2002  18.5
1  Company a001     16/02/1999  21.2
2   Company 123     25/09/1998  22.5
3          1234     12/02/2022  22.0
4    Company 12     15/09/1997  23.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name_code       5 non-null      object
 1   date_of_birth   5 non-null      object
 2   age             5 non-null      float64
dtypes: float64(1), object(2)
memory usage: 252.0+ bytes

In [5]:
#Solution

print("\nWhether all characters in the string are alphanumeric?")
df['name_code_is_alphanumeric'] = list(map(lambda x: x.isalnum(), df['name_code']))
print(df)

Whether all characters in the string are alphanumeric?
      name_code date_of_birth    age  name_code_is_alphanumeric
0       Company     12/05/2002  18.5                       True
1  Company a001     16/02/1999  21.2                      False
2   Company 123     25/09/1998  22.5                      False
3          1234     12/02/2022  22.0                       True
4    Company 12     15/09/1997  23.0                      False

#### c) Count the occurrence of the specified substring "2" in the name_code column of the DataFrame

In [6]:
import pandas as pd
df = pd.DataFrame({
    'name_code': ['c001','c002','c022', 'c2002', 'c2222'],
    'date_of_birth ': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]
})
print("Original DataFrame:")
print(df)

Original DataFrame:
  name_code date_of_birth    age
0      c001     12/05/2002  18.5
1      c002     16/02/1999  21.2
2      c022     25/09/1998  22.5
3     c2002     12/02/2022  22.0
4     c2222     15/09/1997  23.0

In [7]:
#Solution

print("\nCount occurrence of 2 in date_of_birth column:")
df['count'] = list(map(lambda x: x.count("2"), df['name_code']))
print(df)

Count occurrence of 2 in date_of_birth column:
  name_code date_of_birth    age  count
0      c001     12/05/2002  18.5      0
1      c002     16/02/1999  21.2      1
2      c022     25/09/1998  22.5      2
3     c2002     12/02/2022  22.0      2
4     c2222     15/09/1997  23.0      4

#### d) Extract words starting with capital characters from a the column "address" of the given DataFrame

In [8]:
import pandas as pd
import re as re
df = pd.DataFrame({
    'company_code': ['Abcd','EFGF', 'zefsalf', 'sdfslew', 'zekfsdf'],
    'date_of_sale': ['12/05/2002','16/02/1999','05/09/1998','12/02/2022','15/09/1997'],
    'address': ['9910 Surrey Avenue','92 N. Bishop Avenue','9910 Golden Star Avenue', '102 Dunbar St.', '17 West Livingston Court']
})

print("Original DataFrame:")
print(df)

Original DataFrame:
  company_code date_of_sale                   address
0         Abcd   12/05/2002        9910 Surrey Avenue
1         EFGF   16/02/1999       92 N. Bishop Avenue
2      zefsalf   05/09/1998   9910 Golden Star Avenue
3      sdfslew   12/02/2022            102 Dunbar St.
4      zekfsdf   15/09/1997  17 West Livingston Court

In [9]:
#Solution

def find_capital_word(str1):
    result = re.findall(r'\b[A-Z]\w+', str1)
    return result

df['caps_word_in']=df['address'].apply(lambda cw : find_capital_word(cw))
print("\nExtract words starting with capital words from the sentences':")
print(df)

Extract words starting with capital words from the sentences':
  company_code date_of_sale                   address  \
0         Abcd   12/05/2002        9910 Surrey Avenue
1         EFGF   16/02/1999       92 N. Bishop Avenue
2      zefsalf   05/09/1998   9910 Golden Star Avenue
3      sdfslew   12/02/2022            102 Dunbar St.
4      zekfsdf   15/09/1997  17 West Livingston Court

                caps_word_in
0           [Surrey, Avenue]
1           [Bishop, Avenue]
2     [Golden, Star, Avenue]
3               [Dunbar, St]
4  [West, Livingston, Court]

#### e) Extract the sentences where a the word "avenue" is present in the column address of the given DataFrame

In [10]:
import pandas as pd
import re as re
df = pd.DataFrame({
    'company_code': ['Abcd','EFGF', 'zefsalf', 'sdfslew', 'zekfsdf'],
    'date_of_sale': ['12/05/2002','16/02/1999','05/09/1998','12/02/2022','15/09/1997'],
    'address': ['9910 Surrey Avenue','92 N. Bishop Avenue','9910 Golden Star Avenue', '102 Dunbar St.', '17 West Livingston Court']
})
print("Original DataFrame:")
print(df)

Original DataFrame:
  company_code date_of_sale                   address
0         Abcd   12/05/2002        9910 Surrey Avenue
1         EFGF   16/02/1999       92 N. Bishop Avenue
2      zefsalf   05/09/1998   9910 Golden Star Avenue
3      sdfslew   12/02/2022            102 Dunbar St.
4      zekfsdf   15/09/1997  17 West Livingston Court

In [11]:
#solution

def pick_only_key_sentence(str1, word):
    result = re.findall(r'([^.]*'+word+'[^.]*)', str1)
    return result
df['filter_sentence']=df['address'].apply(lambda x : pick_only_key_sentence(x,'Avenue'))
print("\nText with the word 'Avenue':")
print(df)

Text with the word 'Avenue':
  company_code date_of_sale                   address  \
0         Abcd   12/05/2002        9910 Surrey Avenue
1         EFGF   16/02/1999       92 N. Bishop Avenue
2      zefsalf   05/09/1998   9910 Golden Star Avenue
3      sdfslew   12/02/2022            102 Dunbar St.
4      zekfsdf   15/09/1997  17 West Livingston Court

             filter_sentence
0       [9910 Surrey Avenue]
1           [ Bishop Avenue]
2  [9910 Golden Star Avenue]
3                         []
4                         []